# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Visual studio project files
*.vcxproj*
*.sln
*.suo
*sdf

# Visual studio compiled files
/AdaptiveFieldDStar/Debug/*.*
/AdaptiveFieldDStar/Release/*.*
